/* 
yellow: #ffe400
blue: #3db4ee
light blue: #bbe4fa
light gray: #a5aba7
dark gray: #4d484c
black
*/

body {
    background-color: #ffe400;
}

.jumbotron {
    background-color: #3db4ee;
    color: white;
    max-height: 140px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.form-half {
    display: flex;
    padding: 0px;
}

.card {
    padding:0px;
}

#add-train-button {
    background-color: #3db4ee;
    color: white;
    margin-top:20px;
}

#add-train-button:hover {
    border: 2px solid #ffe400;
}

#add-train-button:focus {
    box-shadow: 0 0 0 0.2rem rgba(255,228,0,1);
    outline: 0;
}